html{
    box-sizing: border-box
}
*,*:before,*:after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva,serif;
}
/** foooter pie de paguina **/
footer{
    background-color: rgb(243, 91, 119);;
    padding-top: 40px;
    margin-top: 30px;
}
footer h2 {
    color: white;
}
footer .contenedor::after{
    display: block;
    content: " ";
    clear: both;
}
footer div.nosotros{
    float: left;
    width: 30%;
    color: white;
}
footer div.menu{
    float: right;
    width: 40%;
    text-align: right;
}
footer nav {
    width: auto;
}
footer nav ul li a{
    width: auto;
}
footer nav ul li a {
    width: auto;
}
p.copyright{
    padding: 20px 0;
    text-align: center;
    color:white;
}
/** no incluir estos estilos al unirlo al final **/
.navegacion{
    background-color: rgba(252, 76, 76, 0.808);

}
nav{
    width: 1200px;
    margin: 0;
    position: relative;
        
}
nav ul{
    list-style: none;
}
nav > ul >li {
    float: left;
}
nav ul::after{
    content: " ";
    display: block;
    clear: both;

}
nav ul li a{
    display: inline-block;
    width: 200px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}


nav ul li:hover{
    background-color: rgb(243, 91, 119);
}


