html{
    box-sizing: border-box
}
*,*:before,*:after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva,serif;
}
/** foooter pie de paguina **/
footer{
    background-color:  rgb(12, 115, 233);
    padding-top: 14px;
    margin-top: 20px;
    text-align: center;
   
}
footer nav li{
    display: inline-block;
    list-style: none;
    text-align: center;
    padding-right: 28px;
}

footer nav li a {
    
    color: white;
    text-decoration: none;
   
    
}
footer nav li:hover{
    color: black;
    transition: all 1s;
    background-color: rgb(0, 153, 255);
    
}

.copyright{
    color: white;
    padding-top: 10px;
}
