html{
    box-sizing: border-box
}
*,*:before,*:after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
/** sidebaer! y entrada de post 
h2{
    color: rgba(30, 137, 236, 0.973);
    margin-bottom: 10px;
}

aside{
    float: right;
    width: 30%;
    margin-top: 30px;
}
aside ul {
    list-style: none;
}
aside ul li {
    padding: 10px 0 10px 10px;
}
aside ul li:hover{
    background-color: rgba(30, 137, 236, 0.973);
    cursor: pointer;
}
aside ul li a{
    color: rgba(30, 137, 236, 0.973);
    text-decoration: none;
}
aside ul li:hover a{
    color:white;
}
**/
h2
{
    color: rgb(51, 170, 250);
    text-transform: uppercase;
    font-size: 20px;
   
}
.centro{
    text-align: center;
    width: 156%;
}
aside {
    text-align: right;
    padding: 20px;
    width: 97%;
    margin-top: 40px;
}
aside ul  {
    list-style: none;
    
}
aside ul li {
    padding: 10px;
    
}
aside ul li a {
    color: rgb(51, 170, 250);
    text-decoration: none;
}
aside ul li a:hover{
    background-color: rgb(51, 170, 250);
    color: white;
    padding: 5px;
}